In [3]:
!python -V

Python 3.9.12

In [63]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction import DictVectorizer

In [91]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2024-01.parquet')
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [92]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,N,1.0,236,239,1.0,1.98,12.80,1.0,0.5,3.61,0.0,NaN,1.0,21.66,1.0,1.0,2.75
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,N,1.0,65,170,5.0,6.54,30.30,1.0,0.5,7.11,0.0,NaN,1.0,42.66,1.0,1.0,2.75
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,N,1.0,74,262,1.0,3.08,19.80,1.0,0.5,3.00,0.0,NaN,1.0,28.05,1.0,1.0,2.75
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,N,1.0,74,116,1.0,2.40,14.20,1.0,1.5,0.00,0.0,NaN,1.0,16.70,2.0,1.0,0.00
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,N,1.0,74,243,1.0,5.14,22.60,1.0,0.5,6.28,0.0,NaN,1.0,31.38,1.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56546,2,2024-01-31 20:46:00,2024-01-31 20:55:00,None,NaN,33,25,NaN,0.00,11.58,0.0,0.0,3.14,0.0,NaN,1.0,15.72,NaN,NaN,NaN
56547,2,2024-01-31 21:06:00,2024-01-31 21:11:00,None,NaN,72,72,NaN,0.49,11.58,0.0,0.0,0.00,0.0,NaN,1.0,12.58,NaN,NaN,NaN
56548,2,2024-01-31 21:36:00,2024-01-31 21:40:00,None,NaN,72,72,NaN,0.52,11.58,0.0,0.0,2.52,0.0,NaN,1.0,15.10,NaN,NaN,NaN
56549,2,2024-01-31 22:45:00,2024-01-31 22:51:00,None,NaN,41,42,NaN,1.17,14.22,0.0,0.0,0.00,0.0,NaN,1.0,15.22,NaN,NaN,NaN
56550,2,2024-01-31 22:28:00,2024-01-31 22:59:00,None,NaN,33,91,NaN,9.27,44.62,0.0,0.0,4.56,0.0,NaN,1.0,50.18,NaN,NaN,NaN

In [93]:
df['duration']= df.lpep_dropoff_datetime - df.lpep_pickup_datetime
df.duration = df.duration.apply(lambda td: td.total_seconds()/60)

In [94]:
#df=df[df.trip_type==2]

In [95]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,duration
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,N,1.0,236,239,1.0,1.98,12.80,...,0.5,3.61,0.0,NaN,1.0,21.66,1.0,1.0,2.75,11.500000
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,N,1.0,65,170,5.0,6.54,30.30,...,0.5,7.11,0.0,NaN,1.0,42.66,1.0,1.0,2.75,20.866667
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,N,1.0,74,262,1.0,3.08,19.80,...,0.5,3.00,0.0,NaN,1.0,28.05,1.0,1.0,2.75,19.033333
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,N,1.0,74,116,1.0,2.40,14.20,...,1.5,0.00,0.0,NaN,1.0,16.70,2.0,1.0,0.00,11.866667
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,N,1.0,74,243,1.0,5.14,22.60,...,0.5,6.28,0.0,NaN,1.0,31.38,1.0,1.0,0.00,10.983333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56546,2,2024-01-31 20:46:00,2024-01-31 20:55:00,None,NaN,33,25,NaN,0.00,11.58,...,0.0,3.14,0.0,NaN,1.0,15.72,NaN,NaN,NaN,9.000000
56547,2,2024-01-31 21:06:00,2024-01-31 21:11:00,None,NaN,72,72,NaN,0.49,11.58,...,0.0,0.00,0.0,NaN,1.0,12.58,NaN,NaN,NaN,5.000000
56548,2,2024-01-31 21:36:00,2024-01-31 21:40:00,None,NaN,72,72,NaN,0.52,11.58,...,0.0,2.52,0.0,NaN,1.0,15.10,NaN,NaN,NaN,4.000000
56549,2,2024-01-31 22:45:00,2024-01-31 22:51:00,None,NaN,41,42,NaN,1.17,14.22,...,0.0,0.00,0.0,NaN,1.0,15.22,NaN,NaN,NaN,6.000000
56550,2,2024-01-31 22:28:00,2024-01-31 22:59:00,None,NaN,33,91,NaN,9.27,44.62,...,0.0,4.56,0.0,NaN,1.0,50.18,NaN,NaN,NaN,31.000000

In [96]:
df.duration.describe(percentiles=[0.95,0.98,0.99])

count    56551.000000
mean        18.171379
std         75.464751
min          0.000000
50%         11.400000
95%         33.683333
98%         46.816667
99%         59.825000
max       1438.983333
Name: duration, dtype: float64

In [97]:
df = df[(df.duration >= 1) & (df.duration <= 60)]

In [98]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,duration
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,N,1.0,236,239,1.0,1.98,12.80,...,0.5,3.61,0.0,NaN,1.0,21.66,1.0,1.0,2.75,11.500000
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,N,1.0,65,170,5.0,6.54,30.30,...,0.5,7.11,0.0,NaN,1.0,42.66,1.0,1.0,2.75,20.866667
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,N,1.0,74,262,1.0,3.08,19.80,...,0.5,3.00,0.0,NaN,1.0,28.05,1.0,1.0,2.75,19.033333
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,N,1.0,74,116,1.0,2.40,14.20,...,1.5,0.00,0.0,NaN,1.0,16.70,2.0,1.0,0.00,11.866667
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,N,1.0,74,243,1.0,5.14,22.60,...,0.5,6.28,0.0,NaN,1.0,31.38,1.0,1.0,0.00,10.983333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56546,2,2024-01-31 20:46:00,2024-01-31 20:55:00,None,NaN,33,25,NaN,0.00,11.58,...,0.0,3.14,0.0,NaN,1.0,15.72,NaN,NaN,NaN,9.000000
56547,2,2024-01-31 21:06:00,2024-01-31 21:11:00,None,NaN,72,72,NaN,0.49,11.58,...,0.0,0.00,0.0,NaN,1.0,12.58,NaN,NaN,NaN,5.000000
56548,2,2024-01-31 21:36:00,2024-01-31 21:40:00,None,NaN,72,72,NaN,0.52,11.58,...,0.0,2.52,0.0,NaN,1.0,15.10,NaN,NaN,NaN,4.000000
56549,2,2024-01-31 22:45:00,2024-01-31 22:51:00,None,NaN,41,42,NaN,1.17,14.22,...,0.0,0.00,0.0,NaN,1.0,15.22,NaN,NaN,NaN,6.000000
56550,2,2024-01-31 22:28:00,2024-01-31 22:59:00,None,NaN,33,91,NaN,9.27,44.62,...,0.0,4.56,0.0,NaN,1.0,50.18,NaN,NaN,NaN,31.000000

In [99]:
categorical = ['PULocationID','DOLocationID']
numerical = ['trip_distance']

In [100]:
df[categorical] = df[categorical].astype(str)

/tmp/ipykernel_14045/1767203464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[categorical] = df[categorical].astype(str)

In [101]:
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                     object
DOLocationID                     object
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
duration                        float64
dtype: object

In [102]:
df[categorical + numerical]

      PULocationID DOLocationID  trip_distance
0              236          239           1.98
1               65          170           6.54
2               74          262           3.08
3               74          116           2.40
4               74          243           5.14
...            ...          ...            ...
56546           33           25           0.00
56547           72           72           0.49
56548           72           72           0.52
56549           41           42           1.17
56550           33           91           9.27

[54373 rows x 3 columns]

In [103]:
df[categorical + numerical].iloc[:10]

  PULocationID DOLocationID  trip_distance
0          236          239           1.98
1           65          170           6.54
2           74          262           3.08
3           74          116           2.40
4           74          243           5.14
5           33          209           2.00
6           74          238           3.20
7          166          239           2.01
8          226          226           0.31
9            7          129           2.32

In [104]:
train_dicts = df[categorical + numerical].iloc[:10].to_dict(orient = 'records')

In [105]:
#implementing it to the entire data set

In [106]:
train_dicts = df[categorical + numerical].to_dict(orient = 'records')

In [107]:
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

In [108]:
X_train

<54373x449 sparse matrix of type '<class 'numpy.float64'>'
	with 163119 stored elements in Compressed Sparse Row format>

In [109]:
dv.feature_names_

['DOLocationID=1',
 'DOLocationID=10',
 'DOLocationID=100',
 'DOLocationID=101',
 'DOLocationID=102',
 'DOLocationID=106',
 'DOLocationID=107',
 'DOLocationID=108',
 'DOLocationID=11',
 'DOLocationID=112',
 'DOLocationID=113',
 'DOLocationID=114',
 'DOLocationID=116',
 'DOLocationID=117',
 'DOLocationID=118',
 'DOLocationID=119',
 'DOLocationID=12',
 'DOLocationID=120',
 'DOLocationID=121',
 'DOLocationID=122',
 'DOLocationID=123',
 'DOLocationID=124',
 'DOLocationID=125',
 'DOLocationID=126',
 'DOLocationID=127',
 'DOLocationID=128',
 'DOLocationID=129',
 'DOLocationID=13',
 'DOLocationID=130',
 'DOLocationID=131',
 'DOLocationID=132',
 'DOLocationID=133',
 'DOLocationID=134',
 'DOLocationID=135',
 'DOLocationID=136',
 'DOLocationID=137',
 'DOLocationID=138',
 'DOLocationID=139',
 'DOLocationID=14',
 'DOLocationID=140',
 'DOLocationID=141',
 'DOLocationID=142',
 'DOLocationID=143',
 'DOLocationID=144',
 'DOLocationID=145',
 'DOLocationID=146',
 'DOLocationID=147',
 'DOLocationID=148',
 'DOLocationID=149',
 'DOLocationID=15',
 'DOLocationID=150',
 'DOLocationID=151',
 'DOLocationID=152',
 'DOLocationID=153',
 'DOLocationID=155',
 'DOLocationID=157',
 'DOLocationID=158',
 'DOLocationID=159',
 'DOLocationID=16',
 'DOLocationID=160',
 'DOLocationID=161',
 'DOLocationID=162',
 'DOLocationID=163',
 'DOLocationID=164',
 'DOLocationID=165',
 'DOLocationID=166',
 'DOLocationID=167',
 'DOLocationID=168',
 'DOLocationID=169',
 'DOLocationID=17',
 'DOLocationID=170',
 'DOLocationID=171',
 'DOLocationID=173',
 'DOLocationID=174',
 'DOLocationID=175',
 'DOLocationID=177',
 'DOLocationID=178',
 'DOLocationID=179',
 'DOLocationID=18',
 'DOLocationID=180',
 'DOLocationID=181',
 'DOLocationID=182',
 'DOLocationID=183',
 'DOLocationID=185',
 'DOLocationID=186',
 'DOLocationID=188',
 'DOLocationID=189',
 'DOLocationID=19',
 'DOLocationID=190',
 'DOLocationID=191',
 'DOLocationID=192',
 'DOLocationID=193',
 'DOLocationID=194',
 'DOLocationID=195',
 'DOLocationID=196',
 'DOLocationID=197',
 'DOLocationID=198',
 'DOLocationID=20',
 'DOLocationID=200',
 'DOLocationID=201',
 'DOLocationID=202',
 'DOLocationID=203',
 'DOLocationID=205',
 'DOLocationID=206',
 'DOLocationID=207',
 'DOLocationID=208',
 'DOLocationID=209',
 'DOLocationID=21',
 'DOLocationID=210',
 'DOLocationID=211',
 'DOLocationID=212',
 'DOLocationID=213',
 'DOLocationID=214',
 'DOLocationID=215',
 'DOLocationID=216',
 'DOLocationID=217',
 'DOLocationID=218',
 'DOLocationID=219',
 'DOLocationID=22',
 'DOLocationID=220',
 'DOLocationID=221',
 'DOLocationID=222',
 'DOLocationID=223',
 'DOLocationID=224',
 'DOLocationID=225',
 'DOLocationID=226',
 'DOLocationID=227',
 'DOLocationID=228',
 'DOLocationID=229',
 'DOLocationID=23',
 'DOLocationID=230',
 'DOLocationID=231',
 'DOLocationID=232',
 'DOLocationID=233',
 'DOLocationID=234',
 'DOLocationID=235',
 'DOLocationID=236',
 'DOLocationID=237',
 'DOLocationID=238',
 'DOLocationID=239',
 'DOLocationID=24',
 'DOLocationID=240',
 'DOLocationID=241',
 'DOLocationID=242',
 'DOLocationID=243',
 'DOLocationID=244',
 'DOLocationID=246',
 'DOLocationID=247',
 'DOLocationID=248',
 'DOLocationID=249',
 'DOLocationID=25',
 'DOLocationID=250',
 'DOLocationID=252',
 'DOLocationID=253',
 'DOLocationID=254',
 'DOLocationID=255',
 'DOLocationID=256',
 'DOLocationID=257',
 'DOLocationID=258',
 'DOLocationID=259',
 'DOLocationID=26',
 'DOLocationID=260',
 'DOLocationID=261',
 'DOLocationID=262',
 'DOLocationID=263',
 'DOLocationID=264',
 'DOLocationID=265',
 'DOLocationID=27',
 'DOLocationID=28',
 'DOLocationID=29',
 'DOLocationID=3',
 'DOLocationID=31',
 'DOLocationID=32',
 'DOLocationID=33',
 'DOLocationID=34',
 'DOLocationID=35',
 'DOLocationID=36',
 'DOLocationID=37',
 'DOLocationID=38',
 'DOLocationID=39',
 'DOLocationID=4',
 'DOLocationID=40',
 'DOLocationID=41',
 'DOLocationID=42',
 'DOLocationID=43',
 'DOLocationID=44',
 'DOLocationID=45',
 'DOLocationID=46',
 'DOLocationID=47',
 'DOLocationID=48',
 'DOLocationID=49',
 'DOLocationID=50',
 'DOLocationID=51',
 'DOLocationID=52',
 'DOLocationID=53',
 'DOLocationID=54',
 'DOLocationID=55',
 'DOLocationID=56',
 'DOLocationID=57',
 'DOLocationID=59',
 'DOLocationID=60',
 'DOLocationID=61',
 'DOLocationID=62',
 'DOLocationID=63',
 'DOLocationID=64',
 'DOLocationID=65',
 'DOLocationID=66',
 'DOLocationID=67',
 'DOLocationID=68',
 'DOLocationID=69',
 'DOLocationID=7',
 'DOLocationID=70',
 'DOLocationID=71',
 'DOLocationID=72',
 'DOLocationID=73',
 'DOLocationID=74',
 'DOLocationID=75',
 'DOLocationID=76',
 'DOLocationID=77',
 'DOLocationID=78',
 'DOLocationID=79',
 'DOLocationID=8',
 'DOLocationID=80',
 'DOLocationID=81',
 'DOLocationID=82',
 'DOLocationID=83',
 'DOLocationID=85',
 'DOLocationID=86',
 'DOLocationID=87',
 'DOLocationID=88',
 'DOLocationID=89',
 'DOLocationID=9',
 'DOLocationID=90',
 'DOLocationID=91',
 'DOLocationID=92',
 'DOLocationID=93',
 'DOLocationID=94',
 'DOLocationID=95',
 'DOLocationID=96',
 'DOLocationID=97',
 'DOLocationID=98',
 'PULocationID=10',
 'PULocationID=101',
 'PULocationID=102',
 'PULocationID=106',
 'PULocationID=108',
 'PULocationID=11',
 'PULocationID=112',
 'PULocationID=116',
 'PULocationID=117',
 'PULocationID=118',
 'PULocationID=119',
 'PULocationID=120',
 'PULocationID=121',
 'PULocationID=122',
 'PULocationID=123',
 'PULocationID=124',
 'PULocationID=125',
 'PULocationID=126',
 'PULocationID=127',
 'PULocationID=128',
 'PULocationID=129',
 'PULocationID=130',
 'PULocationID=131',
 'PULocationID=132',
 'PULocationID=133',
 'PULocationID=134',
 'PULocationID=135',
 'PULocationID=136',
 'PULocationID=137',
 'PULocationID=138',
 'PULocationID=139',
 'PULocationID=14',
 'PULocationID=140',
 'PULocationID=142',
 'PULocationID=143',
 'PULocationID=145',
 'PULocationID=146',
 'PULocationID=147',
 'PULocationID=149',
 'PULocationID=15',
 'PULocationID=150',
 'PULocationID=151',
 'PULocationID=152',
 'PULocationID=153',
 'PULocationID=154',
 'PULocationID=155',
 'PULocationID=157',
 'PULocationID=159',
 'PULocationID=16',
 'PULocationID=160',
 'PULocationID=162',
 'PULocationID=165',
 'PULocationID=166',
 'PULocationID=167',
 'PULocationID=168',
 'PULocationID=169',
 'PULocationID=17',
 'PULocationID=171',
 'PULocationID=173',
 'PULocationID=174',
 'PULocationID=175',
 'PULocationID=177',
 'PULocationID=178',
 'PULocationID=179',
 'PULocationID=18',
 'PULocationID=180',
 'PULocationID=181',
 'PULocationID=182',
 'PULocationID=183',
 'PULocationID=184',
 'PULocationID=185',
 'PULocationID=188',
 'PULocationID=189',
 'PULocationID=19',
 'PULocationID=190',
 'PULocationID=191',
 'PULocationID=192',
 'PULocationID=193',
 'PULocationID=194',
 'PULocationID=195',
 'PULocationID=196',
 'PULocationID=197',
 'PULocationID=198',
 'PULocationID=20',
 'PULocationID=200',
 'PULocationID=201',
 'PULocationID=202',
 'PULocationID=203',
 'PULocationID=205',
 'PULocationID=206',
 'PULocationID=207',
 'PULocationID=208',
 'PULocationID=209',
 'PULocationID=21',
 'PULocationID=210',
 'PULocationID=212',
 'PULocationID=213',
 'PULocationID=215',
 'PULocationID=216',
 'PULocationID=217',
 'PULocationID=218',
 'PULocationID=219',
 'PULocationID=22',
 'PULocationID=220',
 'PULocationID=222',
 'PULocationID=223',
 'PULocationID=225',
 'PULocationID=226',
 'PULocationID=227',
 'PULocationID=228',
 'PULocationID=229',
 'PULocationID=23',
 'PULocationID=230',
 'PULocationID=231',
 'PULocationID=232',
 'PULocationID=235',
 'PULocationID=236',
 'PULocationID=238',
 'PULocationID=239',
 'PULocationID=24',
 'PULocationID=240',
 'PULocationID=241',
 'PULocationID=242',
 'PULocationID=243',
 'PULocationID=244',
 'PULocationID=247',
 'PULocationID=248',
 'PULocationID=25',
 'PULocationID=250',
 'PULocationID=252',
 'PULocationID=253',
 'PULocationID=254',
 'PULocationID=255',
 'PULocationID=256',
 'PULocationID=257',
 'PULocationID=258',
 'PULocationID=259',
 'PULocationID=26',
 'PULocationID=260',
 'PULocationID=262',
 'PULocationID=263',
 'PULocationID=264',
 'PULocationID=265',
 'PULocationID=28',
 'PULocationID=29',
 'PULocationID=3',
 'PULocationID=31',
 'PULocationID=32',
 'PULocationID=33',
 'PULocationID=34',
 'PULocationID=35',
 'PULocationID=36',
 'PULocationID=37',
 'PULocationID=38',
 'PULocationID=39',
 'PULocationID=40',
 'PULocationID=41',
 'PULocationID=42',
 'PULocationID=43',
 'PULocationID=45',
 'PULocationID=47',
 'PULocationID=48',
 'PULocationID=49',
 'PULocationID=51',
 'PULocationID=52',
 'PULocationID=53',
 'PULocationID=54',
 'PULocationID=55',
 'PULocationID=56',
 'PULocationID=57',
 'PULocationID=60',
 'PULocationID=61',
 'PULocationID=62',
 'PULocationID=63',
 'PULocationID=64',
 'PULocationID=65',
 'PULocationID=66',
 'PULocationID=67',
 'PULocationID=69',
 'PULocationID=7',
 'PULocationID=70',
 'PULocationID=71',
 'PULocationID=72',
 'PULocationID=73',
 'PULocationID=74',
 'PULocationID=75',
 'PULocationID=76',
 'PULocationID=77',
 'PULocationID=78',
 'PULocationID=80',
 'PULocationID=81',
 'PULocationID=82',
 'PULocationID=83',
 'PULocationID=85',
 'PULocationID=86',
 'PULocationID=87',
 'PULocationID=88',
 'PULocationID=89',
 'PULocationID=9',
 'PULocationID=91',
 'PULocationID=92',
 'PULocationID=93',
 'PULocationID=94',
 'PULocationID=95',
 'PULocationID=96',
 'PULocationID=97',
 'PULocationID=98',
 'trip_distance']

In [ ]:
target = 'distance'