In [32]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from math import sqrt

In [3]:
pd.__version__

'1.4.2'

In [4]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')

In [5]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /home/codespace/anaconda3/lib/python3.9/site-packages (19.0.0)

In [6]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [7]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [8]:
df.shape

(2964624, 19)

In [9]:
df['duration']= df.tpep_dropoff_datetime - df.tpep_pickup_datetime

In [10]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.70,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.0,0 days 00:19:48
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.00,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.0,0 days 00:06:36
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.30,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.0,0 days 00:17:55
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.00,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.0,0 days 00:08:18
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.90,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.0,0 days 00:06:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN,0 days 00:08:37
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN,0 days 00:14:45
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN,0 days 00:19:00
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN,0 days 00:17:51
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN,0 days 00:15:05

In [11]:
df.duration= df.duration.apply(lambda td : td.total_seconds()/60)

In [12]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.70,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.0,19.800000
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.00,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.0,6.600000
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.30,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.0,17.916667
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.00,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.0,8.300000
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.90,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.0,6.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN,8.616667
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN,14.750000
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN,19.000000
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN,17.850000
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN,15.083333

In [13]:
df['duration'].std()

34.851053592192876

In [14]:
df = df[(df.duration >= 1) & (df.duration <=60)]

In [15]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.70,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.0,19.800000
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.00,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.0,6.600000
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.30,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.0,17.916667
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.00,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.0,8.300000
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.90,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.0,6.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN,8.616667
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN,14.750000
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN,19.000000
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN,17.850000
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN,15.083333

In [16]:
df.shape

(2898906, 20)

In [17]:
categorical = ['PULocationID','DOLocationID']
df[categorical] = df[categorical].astype(str)

/tmp/ipykernel_24568/1410541804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[categorical] = df[categorical].astype(str)

In [18]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                     object
DOLocationID                     object
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
duration                        float64
dtype: object

In [22]:
train_dicts = df[categorical].iloc[:10].to_dict(orient = 'records')
train_dicts

[{'PULocationID': '186', 'DOLocationID': '79'},
 {'PULocationID': '140', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '211'},
 {'PULocationID': '211', 'DOLocationID': '148'},
 {'PULocationID': '148', 'DOLocationID': '141'},
 {'PULocationID': '138', 'DOLocationID': '181'},
 {'PULocationID': '246', 'DOLocationID': '231'},
 {'PULocationID': '161', 'DOLocationID': '261'},
 {'PULocationID': '113', 'DOLocationID': '113'}]

In [23]:
##apply it to complete data set

In [24]:
train_dicts = df[categorical].to_dict(orient = 'records')
train_dicts

[{'PULocationID': '186', 'DOLocationID': '79'},
 {'PULocationID': '140', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '211'},
 {'PULocationID': '211', 'DOLocationID': '148'},
 {'PULocationID': '148', 'DOLocationID': '141'},
 {'PULocationID': '138', 'DOLocationID': '181'},
 {'PULocationID': '246', 'DOLocationID': '231'},
 {'PULocationID': '161', 'DOLocationID': '261'},
 {'PULocationID': '113', 'DOLocationID': '113'},
 {'PULocationID': '107', 'DOLocationID': '137'},
 {'PULocationID': '158', 'DOLocationID': '246'},
 {'PULocationID': '246', 'DOLocationID': '190'},
 {'PULocationID': '68', 'DOLocationID': '90'},
 {'PULocationID': '90', 'DOLocationID': '68'},
 {'PULocationID': '132', 'DOLocationID': '216'},
 {'PULocationID': '164', 'DOLocationID': '79'},
 {'PULocationID': '141', 'DOLocationID': '263'},
 {'PULocationID': '161', 'DOLocationID': '263'},
 {'PULocationID': '263', 'DOLocationID': '236'},
 {'PULocationID': '246', 'DOLocationID': '170'},
 {'PULocationID': '158', 'DOLocationID': '113'},
 {'PULocationID': '263', 'DOLocationID': '265'},
 {'PULocationID': '148', 'DOLocationID': '4'},
 {'PULocationID': '4', 'DOLocationID': '238'},
 {'PULocationID': '238', 'DOLocationID': '50'},
 {'PULocationID': '239', 'DOLocationID': '114'},
 {'PULocationID': '233', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '41'},
 {'PULocationID': '162', 'DOLocationID': '143'},
 {'PULocationID': '262', 'DOLocationID': '171'},
 {'PULocationID': '239', 'DOLocationID': '68'},
 {'PULocationID': '137', 'DOLocationID': '140'},
 {'PULocationID': '140', 'DOLocationID': '229'},
 {'PULocationID': '236', 'DOLocationID': '238'},
 {'PULocationID': '238', 'DOLocationID': '142'},
 {'PULocationID': '142', 'DOLocationID': '239'},
 {'PULocationID': '229', 'DOLocationID': '249'},
 {'PULocationID': '186', 'DOLocationID': '48'},
 {'PULocationID': '68', 'DOLocationID': '125'},
 {'PULocationID': '113', 'DOLocationID': '238'},
 {'PULocationID': '238', 'DOLocationID': '142'},
 {'PULocationID': '239', 'DOLocationID': '236'},
 {'PULocationID': '142', 'DOLocationID': '163'},
 {'PULocationID': '163', 'DOLocationID': '140'},
 {'PULocationID': '246', 'DOLocationID': '90'},
 {'PULocationID': '234', 'DOLocationID': '170'},
 {'PULocationID': '114', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '229'},
 {'PULocationID': '142', 'DOLocationID': '239'},
 {'PULocationID': '239', 'DOLocationID': '262'},
 {'PULocationID': '163', 'DOLocationID': '163'},
 {'PULocationID': '148', 'DOLocationID': '244'},
 {'PULocationID': '138', 'DOLocationID': '107'},
 {'PULocationID': '232', 'DOLocationID': '246'},
 {'PULocationID': '142', 'DOLocationID': '244'},
 {'PULocationID': '140', 'DOLocationID': '202'},
 {'PULocationID': '249', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '48'},
 {'PULocationID': '43', 'DOLocationID': '68'},
 {'PULocationID': '246', 'DOLocationID': '145'},
 {'PULocationID': '161', 'DOLocationID': '90'},
 {'PULocationID': '143', 'DOLocationID': '142'},
 {'PULocationID': '48', 'DOLocationID': '68'},
 {'PULocationID': '249', 'DOLocationID': '232'},
 {'PULocationID': '148', 'DOLocationID': '249'},
 {'PULocationID': '148', 'DOLocationID': '107'},
 {'PULocationID': '68', 'DOLocationID': '107'},
 {'PULocationID': '237', 'DOLocationID': '137'},
 {'PULocationID': '234', 'DOLocationID': '148'},
 {'PULocationID': '148', 'DOLocationID': '141'},
 {'PULocationID': '237', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '137'},
 {'PULocationID': '132', 'DOLocationID': '239'},
 {'PULocationID': '239', 'DOLocationID': '143'},
 {'PULocationID': '143', 'DOLocationID': '170'},
 {'PULocationID': '43', 'DOLocationID': '161'},
 {'PULocationID': '161', 'DOLocationID': '236'},
 {'PULocationID': '234', 'DOLocationID': '162'},
 {'PULocationID': '162', 'DOLocationID': '113'},
 {'PULocationID': '48', 'DOLocationID': '142'},
 {'PULocationID': '170', 'DOLocationID': '233'},
 {'PULocationID': '43', 'DOLocationID': '186'},
 {'PULocationID': '233', 'DOLocationID': '181'},
 {'PULocationID': '262', 'DOLocationID': '244'},
 {'PULocationID': '68', 'DOLocationID': '50'},
 {'PULocationID': '50', 'DOLocationID': '233'},
 {'PULocationID': '137', 'DOLocationID': '141'},
 {'PULocationID': '170', 'DOLocationID': '148'},
 {'PULocationID': '79', 'DOLocationID': '170'},
 {'PULocationID': '68', 'DOLocationID': '50'},
 {'PULocationID': '50', 'DOLocationID': '238'},
 {'PULocationID': '239', 'DOLocationID': '95'},
 {'PULocationID': '148', 'DOLocationID': '237'},
 {'PULocationID': '237', 'DOLocationID': '233'},
 {'PULocationID': '132', 'DOLocationID': '26'},
 {'PULocationID': '249', 'DOLocationID': '232'},
 {'PULocationID': '249', 'DOLocationID': '232'},
 {'PULocationID': '148', 'DOLocationID': '229'},
 {'PULocationID': '237', 'DOLocationID': '236'},
 {'PULocationID': '238', 'DOLocationID': '166'},
 {'PULocationID': '151', 'DOLocationID': '42'},
 {'PULocationID': '68', 'DOLocationID': '13'},
 {'PULocationID': '13', 'DOLocationID': '246'},
 {'PULocationID': '90', 'DOLocationID': '68'},
 {'PULocationID': '43', 'DOLocationID': '162'},
 {'PULocationID': '229', 'DOLocationID': '140'},
 {'PULocationID': '237', 'DOLocationID': '162'},
 {'PULocationID': '162', 'DOLocationID': '162'},
 {'PULocationID': '66', 'DOLocationID': '146'},
 {'PULocationID': '24', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '114'},
 {'PULocationID': '237', 'DOLocationID': '161'},
 {'PULocationID': '237', 'DOLocationID': '237'},
 {'PULocationID': '236', 'DOLocationID': '244'},
 {'PULocationID': '144', 'DOLocationID': '143'},
 {'PULocationID': '142', 'DOLocationID': '143'},
 {'PULocationID': '239', 'DOLocationID': '7'},
 {'PULocationID': '263', 'DOLocationID': '236'},
 {'PULocationID': '43', 'DOLocationID': '264'},
 {'PULocationID': '79', 'DOLocationID': '141'},
 {'PULocationID': '143', 'DOLocationID': '238'},
 {'PULocationID': '142', 'DOLocationID': '166'},
 {'PULocationID': '239', 'DOLocationID': '236'},
 {'PULocationID': '79', 'DOLocationID': '107'},
 {'PULocationID': '79', 'DOLocationID': '90'},
 {'PULocationID': '90', 'DOLocationID': '246'},
 {'PULocationID': '238', 'DOLocationID': '239'},
 {'PULocationID': '239', 'DOLocationID': '151'},
 {'PULocationID': '151', 'DOLocationID': '143'},
 {'PULocationID': '143', 'DOLocationID': '239'},
 {'PULocationID': '239', 'DOLocationID': '249'},
 {'PULocationID': '229', 'DOLocationID': '113'},
 {'PULocationID': '90', 'DOLocationID': '186'},
 {'PULocationID': '132', 'DOLocationID': '170'},
 {'PULocationID': '170', 'DOLocationID': '143'},
 {'PULocationID': '229', 'DOLocationID': '163'},
 {'PULocationID': '163', 'DOLocationID': '144'},
 {'PULocationID': '170', 'DOLocationID': '239'},
 {'PULocationID': '163', 'DOLocationID': '170'},
 {'PULocationID': '229', 'DOLocationID': '263'},
 {'PULocationID': '163', 'DOLocationID': '88'},
 {'PULocationID': '88', 'DOLocationID': '177'},
 {'PULocationID': '162', 'DOLocationID': '144'},
 {'PULocationID': '249', 'DOLocationID': '97'},
 {'PULocationID': '148', 'DOLocationID': '162'},
 {'PULocationID': '246', 'DOLocationID': '209'},
 {'PULocationID': '263', 'DOLocationID': '74'},
 {'PULocationID': '263', 'DOLocationID': '141'},
 {'PULocationID': '263', 'DOLocationID': '238'},
 {'PULocationID': '163', 'DOLocationID': '75'},
 {'PULocationID': '263', 'DOLocationID': '237'},
 {'PULocationID': '237', 'DOLocationID': '239'},
 {'PULocationID': '238', 'DOLocationID': '24'},
 {'PULocationID': '24', 'DOLocationID': '75'},
 {'PULocationID': '166', 'DOLocationID': '244'},
 {'PULocationID': '88', 'DOLocationID': '87'},
 {'PULocationID': '261', 'DOLocationID': '50'},
 {'PULocationID': '141', 'DOLocationID': '238'},
 {'PULocationID': '239', 'DOLocationID': '262'},
 {'PULocationID': '236', 'DOLocationID': '43'},
 {'PULocationID': '140', 'DOLocationID': '162'},
 {'PULocationID': '234', 'DOLocationID': '237'},
 {'PULocationID': '142', 'DOLocationID': '162'},
 {'PULocationID': '237', 'DOLocationID': '164'},
 {'PULocationID': '263', 'DOLocationID': '237'},
 {'PULocationID': '162', 'DOLocationID': '43'},
 {'PULocationID': '43', 'DOLocationID': '151'},
 {'PULocationID': '137', 'DOLocationID': '75'},
 {'PULocationID': '151', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '75'},
 {'PULocationID': '75', 'DOLocationID': '263'},
 {'PULocationID': '263', 'DOLocationID': '148'},
 {'PULocationID': '237', 'DOLocationID': '88'},
 {'PULocationID': '70', 'DOLocationID': '265'},
 {'PULocationID': '164', 'DOLocationID': '227'},
 {'PULocationID': '236', 'DOLocationID': '137'},
 {'PULocationID': '79', 'DOLocationID': '188'},
 {'PULocationID': '237', 'DOLocationID': '263'},
 {'PULocationID': '43', 'DOLocationID': '236'},
 {'PULocationID': '234', 'DOLocationID': '146'},
 {'PULocationID': '161', 'DOLocationID': '229'},
 {'PULocationID': '68', 'DOLocationID': '143'},
 {'PULocationID': '142', 'DOLocationID': '141'},
 {'PULocationID': '262', 'DOLocationID': '74'},
 {'PULocationID': '68', 'DOLocationID': '140'},
 {'PULocationID': '229', 'DOLocationID': '137'},
 {'PULocationID': '161', 'DOLocationID': '107'},
 {'PULocationID': '43', 'DOLocationID': '262'},
 {'PULocationID': '262', 'DOLocationID': '224'},
 {'PULocationID': '107', 'DOLocationID': '246'},
 {'PULocationID': '158', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '229'},
 {'PULocationID': '239', 'DOLocationID': '249'},
 {'PULocationID': '263', 'DOLocationID': '116'},
 {'PULocationID': '79', 'DOLocationID': '264'},
 {'PULocationID': '161', 'DOLocationID': '264'},
 {'PULocationID': '161', 'DOLocationID': '263'},
 {'PULocationID': '148', 'DOLocationID': '107'},
 {'PULocationID': '148', 'DOLocationID': '114'},
 {'PULocationID': '114', 'DOLocationID': '234'},
 {'PULocationID': '114', 'DOLocationID': '186'},
 {'PULocationID': '132', 'DOLocationID': '213'},
 {'PULocationID': '246', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '4'},
 {'PULocationID': '79', 'DOLocationID': '87'},
 {'PULocationID': '148', 'DOLocationID': '142'},
 {'PULocationID': '142', 'DOLocationID': '239'},
 {'PULocationID': '239', 'DOLocationID': '236'},
 {'PULocationID': '249', 'DOLocationID': '24'},
 {'PULocationID': '162', 'DOLocationID': '263'},
 {'PULocationID': '263', 'DOLocationID': '244'},
 {'PULocationID': '163', 'DOLocationID': '262'},
 {'PULocationID': '263', 'DOLocationID': '163'},
 {'PULocationID': '161', 'DOLocationID': '164'},
 {'PULocationID': '263', 'DOLocationID': '236'},
 {'PULocationID': '43', 'DOLocationID': '162'},
 {'PULocationID': '236', 'DOLocationID': '41'},
 {'PULocationID': '234', 'DOLocationID': '229'},
 {'PULocationID': '229', 'DOLocationID': '249'},
 {'PULocationID': '114', 'DOLocationID': '41'},
 {'PULocationID': '142', 'DOLocationID': '48'},
 {'PULocationID': '48', 'DOLocationID': '87'},
 {'PULocationID': '142', 'DOLocationID': '237'},
 {'PULocationID': '163', 'DOLocationID': '233'},
 {'PULocationID': '132', 'DOLocationID': '141'},
 {'PULocationID': '170', 'DOLocationID': '148'},
 {'PULocationID': '148', 'DOLocationID': '256'},
 {'PULocationID': '256', 'DOLocationID': '232'},
 {'PULocationID': '107', 'DOLocationID': '141'},
 {'PULocationID': '234', 'DOLocationID': '151'},
 {'PULocationID': '164', 'DOLocationID': '113'},
 {'PULocationID': '113', 'DOLocationID': '13'},
 {'PULocationID': '186', 'DOLocationID': '239'},
 {'PULocationID': '209', 'DOLocationID': '233'},
 {'PULocationID': '162', 'DOLocationID': '143'},
 {'PULocationID': '50', 'DOLocationID': '68'},
 {'PULocationID': '170', 'DOLocationID': '236'},
 {'PULocationID': '239', 'DOLocationID': '231'},
 {'PULocationID': '236', 'DOLocationID': '238'},
 {'PULocationID': '236', 'DOLocationID': '79'},
 {'PULocationID': '138', 'DOLocationID': '80'},
 {'PULocationID': '234', 'DOLocationID': '57'},
 {'PULocationID': '237', 'DOLocationID': '263'},
 {'PULocationID': '236', 'DOLocationID': '229'},
 {'PULocationID': '229', 'DOLocationID': '237'},
 {'PULocationID': '222', 'DOLocationID': '147'},
 {'PULocationID': '234', 'DOLocationID': '75'},
 {'PULocationID': '75', 'DOLocationID': '78'},
 {'PULocationID': '161', 'DOLocationID': '238'},
 {'PULocationID': '43', 'DOLocationID': '41'},
 {'PULocationID': '236', 'DOLocationID': '142'},
 {'PULocationID': '142', 'DOLocationID': '263'},
 {'PULocationID': '141', 'DOLocationID': '246'},
 {'PULocationID': '90', 'DOLocationID': '238'},
 {'PULocationID': '114', 'DOLocationID': '87'},
 {'PULocationID': '87', 'DOLocationID': '79'},
 {'PULocationID': '238', 'DOLocationID': '166'},
 {'PULocationID': '151', 'DOLocationID': '262'},
 {'PULocationID': '262', 'DOLocationID': '237'},
 {'PULocationID': '246', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '107'},
 {'PULocationID': '164', 'DOLocationID': '107'},
 {'PULocationID': '107', 'DOLocationID': '233'},
 {'PULocationID': '236', 'DOLocationID': '238'},
 {'PULocationID': '238', 'DOLocationID': '263'},
 {'PULocationID': '236', 'DOLocationID': '237'},
 {'PULocationID': '141', 'DOLocationID': '262'},
 {'PULocationID': '262', 'DOLocationID': '236'},
 {'PULocationID': '132', 'DOLocationID': '35'},
 {'PULocationID': '79', 'DOLocationID': '262'},
 {'PULocationID': '237', 'DOLocationID': '229'},
 {'PULocationID': '43', 'DOLocationID': '223'},
 {'PULocationID': '138', 'DOLocationID': '188'},
 {'PULocationID': '113', 'DOLocationID': '170'},
 {'PULocationID': '234', 'DOLocationID': '211'},
 {'PULocationID': '211', 'DOLocationID': '158'},
 {'PULocationID': '107', 'DOLocationID': '161'},
 {'PULocationID': '161', 'DOLocationID': '237'},
 {'PULocationID': '237', 'DOLocationID': '141'},
 {'PULocationID': '141', 'DOLocationID': '239'},
 {'PULocationID': '238', 'DOLocationID': '182'},
 {'PULocationID': '164', 'DOLocationID': '161'},
 {'PULocationID': '249', 'DOLocationID': '233'},
 {'PULocationID': '233', 'DOLocationID': '141'},
 {'PULocationID': '237', 'DOLocationID': '143'},
 {'PULocationID': '132', 'DOLocationID': '165'},
 {'PULocationID': '239', 'DOLocationID': '164'},
 {'PULocationID': '90', 'DOLocationID': '246'},
 {'PULocationID': '166', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '151'},
 {'PULocationID': '239', 'DOLocationID': '162'},
 {'PULocationID': '162', 'DOLocationID': '69'},
 {'PULocationID': '249', 'DOLocationID': '144'},
 {'PULocationID': '90', 'DOLocationID': '79'},
 {'PULocationID': '224', 'DOLocationID': '4'},
 {'PULocationID': '79', 'DOLocationID': '141'},
 {'PULocationID': '141', 'DOLocationID': '50'},
 {'PULocationID': '263', 'DOLocationID': '151'},
 {'PULocationID': '151', 'DOLocationID': '24'},
 {'PULocationID': '151', 'DOLocationID': '119'},
 {'PULocationID': '234', 'DOLocationID': '233'},
 {'PULocationID': '246', 'DOLocationID': '128'},
 {'PULocationID': '144', 'DOLocationID': '255'},
 {'PULocationID': '256', 'DOLocationID': '17'},
 {'PULocationID': '249', 'DOLocationID': '65'},
 {'PULocationID': '148', 'DOLocationID': '233'},
 {'PULocationID': '229', 'DOLocationID': '141'},
 {'PULocationID': '164', 'DOLocationID': '142'},
 {'PULocationID': '238', 'DOLocationID': '166'},
 {'PULocationID': '162', 'DOLocationID': '75'},
 {'PULocationID': '249', 'DOLocationID': '249'},
 {'PULocationID': '113', 'DOLocationID': '50'},
 {'PULocationID': '142', 'DOLocationID': '140'},
 {'PULocationID': '163', 'DOLocationID': '158'},
 {'PULocationID': '142', 'DOLocationID': '113'},
 {'PULocationID': '246', 'DOLocationID': '246'},
 {'PULocationID': '246', 'DOLocationID': '246'},
 {'PULocationID': '68', 'DOLocationID': '114'},
 {'PULocationID': '114', 'DOLocationID': '50'},
 {'PULocationID': '132', 'DOLocationID': '233'},
 {'PULocationID': '107', 'DOLocationID': '68'},
 {'PULocationID': '68', 'DOLocationID': '48'},
 {'PULocationID': '163', 'DOLocationID': '161'},
 {'PULocationID': '161', 'DOLocationID': '262'},
 {'PULocationID': '141', 'DOLocationID': '168'},
 {'PULocationID': '144', 'DOLocationID': '142'},
 {'PULocationID': '142', 'DOLocationID': '68'},
 {'PULocationID': '265', 'DOLocationID': '265'},
 {'PULocationID': '162', 'DOLocationID': '233'},
 {'PULocationID': '90', 'DOLocationID': '261'},
 {'PULocationID': '261', 'DOLocationID': '229'},
 {'PULocationID': '229', 'DOLocationID': '263'},
 {'PULocationID': '263', 'DOLocationID': '239'},
 {'PULocationID': '79', 'DOLocationID': '233'},
 {'PULocationID': '233', 'DOLocationID': '262'},
 {'PULocationID': '233', 'DOLocationID': '140'},
 {'PULocationID': '229', 'DOLocationID': '79'},
 {'PULocationID': '90', 'DOLocationID': '229'},
 {'PULocationID': '138', 'DOLocationID': '49'},
 {'PULocationID': '142', 'DOLocationID': '166'},
 {'PULocationID': '166', 'DOLocationID': '255'},
 {'PULocationID': '137', 'DOLocationID': '232'},
 {'PULocationID': '148', 'DOLocationID': '263'},
 {'PULocationID': '142', 'DOLocationID': '52'},
 {'PULocationID': '48', 'DOLocationID': '148'},
 {'PULocationID': '143', 'DOLocationID': '41'},
 {'PULocationID': '142', 'DOLocationID': '141'},
 {'PULocationID': '142', 'DOLocationID': '90'},
 {'PULocationID': '79', 'DOLocationID': '148'},
 {'PULocationID': '224', 'DOLocationID': '107'},
 {'PULocationID': '164', 'DOLocationID': '140'},
 {'PULocationID': '141', 'DOLocationID': '229'},
 {'PULocationID': '79', 'DOLocationID': '249'},
 {'PULocationID': '249', 'DOLocationID': '14'},
 {'PULocationID': '14', 'DOLocationID': '14'},
 {'PULocationID': '142', 'DOLocationID': '233'},
 {'PULocationID': '162', 'DOLocationID': '246'},
 {'PULocationID': '263', 'DOLocationID': '143'},
 {'PULocationID': '161', 'DOLocationID': '164'},
 {'PULocationID': '234', 'DOLocationID': '68'},
 {'PULocationID': '114', 'DOLocationID': '231'},
 {'PULocationID': '209', 'DOLocationID': '80'},
 {'PULocationID': '164', 'DOLocationID': '164'},
 {'PULocationID': '90', 'DOLocationID': '68'},
 {'PULocationID': '90', 'DOLocationID': '232'},
 {'PULocationID': '236', 'DOLocationID': '140'},
 {'PULocationID': '140', 'DOLocationID': '125'},
 {'PULocationID': '249', 'DOLocationID': '263'},
 {'PULocationID': '68', 'DOLocationID': '233'},
 {'PULocationID': '229', 'DOLocationID': '239'},
 {'PULocationID': '114', 'DOLocationID': '67'},
 {'PULocationID': '158', 'DOLocationID': '164'},
 {'PULocationID': '48', 'DOLocationID': '141'},
 {'PULocationID': '48', 'DOLocationID': '239'},
 {'PULocationID': '142', 'DOLocationID': '166'},
 {'PULocationID': '166', 'DOLocationID': '41'},
 {'PULocationID': '141', 'DOLocationID': '142'},
 {'PULocationID': '142', 'DOLocationID': '170'},
 {'PULocationID': '239', 'DOLocationID': '143'},
 {'PULocationID': '142', 'DOLocationID': '151'},
 {'PULocationID': '151', 'DOLocationID': '237'},
 {'PULocationID': '263', 'DOLocationID': '237'},
 {'PULocationID': '141', 'DOLocationID': '142'},
 {'PULocationID': '142', 'DOLocationID': '48'},
 {'PULocationID': '48', 'DOLocationID': '114'},
 {'PULocationID': '107', 'DOLocationID': '238'},
 {'PULocationID': '236', 'DOLocationID': '263'},
 {'PULocationID': '263', 'DOLocationID': '229'},
 {'PULocationID': '229', 'DOLocationID': '237'},
 {'PULocationID': '87', 'DOLocationID': '144'},
 {'PULocationID': '144', 'DOLocationID': '164'},
 {'PULocationID': '164', 'DOLocationID': '142'},
 {'PULocationID': '43', 'DOLocationID': '161'},
 {'PULocationID': '161', 'DOLocationID': '262'},
 {'PULocationID': '236', 'DOLocationID': '75'},
 {'PULocationID': '90', 'DOLocationID': '239'},
 {'PULocationID': '249', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '140'},
 {'PULocationID': '246', 'DOLocationID': '239'},
 {'PULocationID': '239', 'DOLocationID': '48'},
 {'PULocationID': '48', 'DOLocationID': '158'},
 {'PULocationID': '163', 'DOLocationID': '41'},
 {'PULocationID': '90', 'DOLocationID': '143'},
 {'PULocationID': '237', 'DOLocationID': '151'},
 {'PULocationID': '4', 'DOLocationID': '68'},
 {'PULocationID': '68', 'DOLocationID': '48'},
 {'PULocationID': '142', 'DOLocationID': '68'},
 {'PULocationID': '237', 'DOLocationID': '140'},
 {'PULocationID': '43', 'DOLocationID': '246'},
 {'PULocationID': '233', 'DOLocationID': '161'},

In [25]:
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

In [26]:
X_train

<2898906x518 sparse matrix of type '<class 'numpy.float64'>'
	with 5797812 stored elements in Compressed Sparse Row format>

In [28]:
target = 'duration'
y_train = df[target].values

In [29]:
y_train

array([19.8       ,  6.6       , 17.91666667, ..., 19.        ,
       17.85      , 15.08333333])

In [30]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [34]:
y_pred = lr.predict(X_train)

In [35]:
mse = mean_squared_error(y_train,y_pred,squared=False)

In [36]:
mse

7.946173359587957

In [37]:
rmse = sqrt(mse)

In [38]:
rmse

2.8188957695501897